<div>
    <h2>
        <span jhiTranslate="controlDinersApp.quantitat.home.title">Quantitats</span>
        <button class="btn btn-primary float-right jh-create-entity create-quantitat" [routerLink]="['/', { outlets: { popup: ['quantitat-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="controlDinersApp.quantitat.home.createLabel">
            Create new Quantitat
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="quantitats">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="diners"><span jhiTranslate="controlDinersApp.quantitat.diners">Diners</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="actiu"><span jhiTranslate="controlDinersApp.quantitat.actiu">Actiu</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let quantitat of quantitats ;trackBy: trackId">
                <td><a [routerLink]="['../quantitat', quantitat.id ]">{{quantitat.id}}</a></td>
                <td>{{quantitat.diners}}</td>
                <td>{{quantitat.actiu}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../quantitat', quantitat.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'quantitat/'+ quantitat.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'quantitat/'+ quantitat.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="quantitats && quantitats.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
