<div>
    <h2>
        <span jhiTranslate="controlDinersApp.usuaris.home.title">Usuarises</span>
        <button class="btn btn-primary float-right jh-create-entity create-usuaris" [routerLink]="['/', { outlets: { popup: ['usuaris-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="controlDinersApp.usuaris.home.createLabel">
            Create new Usuaris
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="usuarises">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nom"><span jhiTranslate="controlDinersApp.usuaris.nom">Nom</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="controlDinersApp.usuaris.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dataInici"><span jhiTranslate="controlDinersApp.usuaris.dataInici">Data Inici</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="actiu"><span jhiTranslate="controlDinersApp.usuaris.actiu">Actiu</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let usuaris of usuarises ;trackBy: trackId">
                <td><a [routerLink]="['../usuaris', usuaris.id ]">{{usuaris.id}}</a></td>
                <td>{{usuaris.nom}}</td>
                <td>{{usuaris.email}}</td>
                <td>{{usuaris.dataInici | date:'medium'}}</td>
                <td>{{usuaris.actiu}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../usuaris', usuaris.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'usuaris/'+ usuaris.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'usuaris/'+ usuaris.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="usuarises && usuarises.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
