<div [ngSwitch]="isAuthenticated()">
	<jhi-alert-error></jhi-alert-error>
	<div class="row">
		<p>
			<strong>Pot total: </strong>{{ lastPot | currency }} &nbsp;
			<button class="btn btn-primary btn-sm" (click)="extreurePot()" *ngSwitchCase="true">
				<span class="fa fa-minus"></span>
				<span class="d-none d-md-inline">Extreure diners</span>
			</button>
		</p>
	</div>
	<div class="row">
		<p>
			<strong>Quantiat: </strong>{{ quantitatActiva | currency }} &nbsp;
			<button class="btn btn-primary btn-sm" (click)="quantitatNova()" *ngSwitchCase="true">
				<span class="fa fa-plus"></span>
				<span class="d-none d-md-inline">Modificar Quantitat</span> 
			</button>
		</p>
	</div>
	<div class="row">
		<button *ngSwitchCase="true" type="submit" (click)="crearProces()" [disabled]="procesIsActive" class="btn btn-primary btn-sm">
			<span class="fa fa-play"></span>
			<span class="d-none d-md-inline">Crear Proces</span>
		</button> &nbsp;
		<button *ngSwitchCase="true" type="submit" (click)="acabarProces()" [disabled]="!procesIsActive" class="btn btn-primary btn-sm">
		    <span class="fa fa-stop"></span>
			<span class="d-none d-md-inline">Acabar Proces</span>
		</button>
	</div>
	<div class="table-responsive" *ngIf="usuarisProces.length > 0">
        <table class="table table-striped">
            <thead>
            	<tr>
                	<th>Usuaris</th>
                    <th>Pagat</th>
                    <th *ngSwitchCase="true"></th>
                </tr>
            </thead>
            <tbody>
            	<tr *ngFor="let up of usuarisProces" [ngSwitch]="isAuthenticated()">
                    <td>{{up.usuarisNom}}</td>
                    <td>{{up.diners | currency }}</td>

                    <td class="text-right" >
                        <div class="btn-group flex-btn-group-container" >
                            <button type="submit" class="btn btn-info btn-sm" (click)="pagar(up.usuarisId)" [disabled]="up.diners > 0">
                            	<span class="fa fa-euro"></span>
                                <span class="d-none d-md-inline">Pagar</span>
                            </button>
                            <button type="submit" class="btn btn-danger btn-sm" (click)="cancelarPagament(up.usuarisId)" [disabled]="up.diners == 0">
                                <span class="fa fa-times-circle-o"></span>
                                <span class="d-none d-md-inline">Cancel·lar</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
		</table>
	</div>
</div>